body{
    margin: 0;
    overflow-x: hidden;
    display: grid;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}
#site_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 56px 100px 0 100px;
}
.sotial_container{display: flex;}

.content{
    display: flex;
    position: absolute;
    z-index: 2;
    top: 29.5%;
    width: 80%;
    height: 100%;
    left: 12.5%;
}
.contact_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    max-height: 100%;
    width: 100%;
}
.sotial_container{
    background-color: #59bec9;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 3 / 2;
}
.pages_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgba(255, 255, 255, 0.671);
    position: relative;
    height: 100%;
    grid-area: 3 / 1 / 6 / 2; 
}
.pages_container,
.logo_class{
    background-color: rgba(255, 255, 255, 0.671);
}
.pages_container div{
    width: 100%;
    height: 100%;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100%;
    height: 17.8%; /*altura*/
    width: 86.5%; /*ancho*/
    position: absolute;
    z-index: 3;
    box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, 0.200);
    margin-left: 7%;
    margin-right: 6.5%;
    top: 9%;
}
.chatear img{
    position: relative;
    height: 100%;
    width: 100%;
}
.chatear{
    height: 100%;
}
.chatear{
    cursor: pointer;
}

.logo_class{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}
.logo_class img{
    height: 40%;
    width: 77.5%;
    margin: 0;
}
.sotial_container {
    height: 100%;
    width: 100%;
}
.sotial_container div{
    height: 100%;
    width: 100%;
}
.contact_us{
    display: flex;
    align-items: center;
    width: 50%;
    cursor:default;
}
.contact_us div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.contact_us div p{
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vh;
    font-weight: 50%;
    width: 80%;
    color: #ffffff;
}
.sotial_media_content div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sotial_media_content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%
}
.sotial_media_content div img{
    width: 47.5%;
    height: 45%;
    box-shadow: 0 2px 19px 3px rgba(0, 0, 0, 0.138);
}
.pages_container div a{
    font-family: 'Rubik', sans-serif;
    font-size: 2.25vh;
    height: 100%;
    width: 100%;
    margin: 8.5% 0 0 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #006478;
}
.clop_content{
    width: 100%;
    height: 41%;
}
.text_site_container{
    height: 100%;
}
.text_site_container div button{
    height: 20.69%;
    width: 45.635%;
    border: 1.5px solid #59bec9;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 3px;
    cursor: pointer;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.138);
}
.text_site_container div button a{
    color: #006478;
    font-family: 'Poppins', sans-serif;
    font-size: 2.235vh;
}
.text_site_container div h1{
    margin: 0;
    color: #006478;
    font-family: 'Rubik', sans-serif;
    font-size: 8.12vh;
}
.titlle{
    height: 25%;
    width: 100%;
    margin: 0 0 0 0;
}
.info_site{
    height: 20%;
    width: 100%;
}
.info_site p{
    font-family: 'Rubik', sans-serif;
    height: 70%;
    width: 397.7;
    color: #463c5f;
    font-size: 2.7vh;
    margin: 10% 0 0 0;
}
.fb,
.ig,
.yt,
.lnk,
.pn{
    margin: 0 7px 0 7px;
    cursor: pointer;
}
.text_site_container{
    position: relative;
    top: 12.55%;
    width: 40%;
    height: 100%;
}
.consultorio{
    position: relative;
    height: 100%;
    width: 97.5%;
    left: 14.5%;
    z-index: 1;
}
.consultorio img{
    height: 100%;
    width: 100%;
}
.background_start{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.background_start img{
    width: 100%;
    height: 100%;
    z-index: 0;
}
.content_in_site{
    margin: 0 0 0 12.5%;
    display: flex;
}
.container{
    display: flex;
    margin: 120px 0 0 0;
    flex-direction: column;
    width: 100%;
}
.page_name{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page_name p{
    display: flex;
    margin: 0 0 0 24%;
    color: #59bec9;
    font-size: 2.2vh;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nosotros{
    height: 100%;
    width: 50%;
}
.nosotros img{
    height: 92%;
    width: 98%;
}
.context_content{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5%;
    height: 100%;
    width: 45%;
}
.title{
    margin: 2.5% 0 0 0;
    width: 100%;
    height: 25.5%;
}
.title h1{
    font-size: 10vh;
    margin-top: 3px;
    color: #006478;
    font-family: 'Rubik', sans-serif;
}
.info{
    width: 100%;
    height: 15%;
}
.info p{
    font-size:2.5vh;
    font-family: 'Rubik', sans-serif;
    color: #808080;
}
.title_carousel{
    width: 100%;
    height: 7.5%;
}
.title_carousel p{
    font-size: 2.457vh;
    color: #006478;
    font-family: 'Rubik', sans-serif;
}
.list_content{
    display: flex;
    margin: 33px 0 33px 0;
    justify-content: space-between;
    width: 79%;
    height: 34%;
}
.buttonn{
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.buton button{
    cursor: pointer;
    height: 78%;
    width: 37.853%;
    border: 1.5px solid #59bec9;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 3px;    
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.195);

}
.buton button a{
    color: #006478;
    font-family: 'Poppins', sans-serif;
    font-size: 2.235vh;
}
.doce{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59bec9;
}
.doce, .trece, .catorce, .quince{
    width: 100%;
    height: 50%;
}
.doce img{
    height: 70%;
    width: 45%;
}
.trece img, .catorce img, .quince img{
    width: 100%;
    height: 100%;
}
.fst_container,
.snd_container,
.trd_Container,
.frt_container{
    height: 100%;
    width: 21%;
}
.mobile-nav{
    position: relative;
    height: 0;
    width: 0;
}
.mobile-nav a{
    position: relative;
    height: 0;
    width: 0;
    text-decoration: none;
    font-size: 0;
}
#text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    width: 100%;
}
#text p{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2% 0 0 0;
    align-items: center;
    align-self: center;
    font-family: 'Rubik', sans-serif;
    color: #006478;
    font-size: 2.12vh;
}
.bar_toogle{
    background-color: #F8F8F8;
    display: flex;
    height: 33.5%;
    width: 86.44%;
    justify-content: space-between;
    align-items: center;
    margin: 0 6.78% 0 6.78%;
    position: absolute;
    top: 0;
    margin-top: 192.5%;
    z-index: 3;
    box-shadow: 2px 2.5px 8px 9px rgb(0 0 0 / 18%);
}
.bar_toogle div h1{
    font-family: 'Poppins', sans-serif;
}
.bar_toogle div p{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.ft_toogle{
    height: 60.68px;
    width: 57.93px;
}
.snd_toogle{
    height: 61.65px;
    width: 45.58px;
}
#image img{
    height: 100%;
    width: 100%;
}
.fst_toogle{
    margin: 0 0 0 117.25px;
}
.end_toogle{
    margin: 0 117.25px 0 0 ;
}

#toogle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 10px;
}
#toogle div h1{
    color: #006478;
    font-size: 5.1vh;
}
#toogle div p{
    color: #59BEC9;
    display: flex;
    align-self: flex-end;
    margin: 0 0 45px 0;
    font-size: 2.4vh;
}
#services{
    width: 100%;
    margin-bottom: 5.5%;
}
.site_toogle{
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    z-index: 0;
}
.content_site_toogle{
    display: flex;
    height: 51.25%;
    width: 100%;
}
.text_site_toogle{
    width: 100%;
    height: 100%;
}
.text_container_toogle{
    width: 47.25%;
    height: 100%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.boton_ver_mas{
    height: 8.845%;
    width: 29.259%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #59bec9;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 3px;
    cursor: pointer;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.138);

}
.boton_ver_mas a{
    color:#006478;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2.235vh;
}
.head_buttons{
    display: flex;
    height: 9.8%;
}

.head_buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    width: 29.176%;
}

.head_buttons div a{ 
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 2.65vh;
}
.head_buttons.sd_boton,
.sd_boton{
    background-color: #59BEC9;
    border-top: 5px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #59BEC9 #59BEC9 #ffffff  #59BEC9;
    margin: 0 0 0 5.5px;
}
.sd_boton a{
    color: #ffffff;
}
.ft_boton a{
    color: #59bec9;
}
.head_buttons.ft_boton,
.ft_boton{
    border-top: 5px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #59BEC9 #59BEC9 #ffffff  #59BEC9;
    margin: 0 5.5px 0 0;
}
.separator{
    border-top: 1px solid #59bec9;
    width: 71%;
    height: 1%;
    margin-left: 186px;
}
.text_toogle{
    margin: 5% 0 5% 0;
    height: 50%;
    width: 100%;
}
.text_toogle ul{
    list-style-image: url('ImageContainer/rectangulo.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text_toogle ul li{
    font-family: 'Rubik', sans-serif;
    font-size: 2.35vh;
    color: #808080;
    margin-bottom: 6.25%;
}

.text_toogle ul li::marker{
    font-size: 10%;
}

.site_down_toogle,
.site_down_toogle img{
    height: 418.67px ;
    width: 1349px;
}
.problematica{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 6.25% 0 0 4%;
}
.problematica p{
    font-size: 3.25vh;
    font-family: 'Poppins', sans-serif;
    color: #288992;
}
.title_name_toogle{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5% 0 4% 0;
}
.title_name_toogle h1{
    font-family: 'Rubik', sans-serif;
    font-size: 7.5vh;
    color: #006478;
    margin-left: 12.5%;
    width: 35%;
}
.site_name_toogle{
    height: 2.5%;
    width: 100%;
}
.site_name_toogle p{
    color: #59BEC9;
    font-size: 2.75vh;
    margin-left: 12.5%;
}
.enfer2{
    position: absolute;
    top: 0;
    margin-top: 140%;
    left: 53%;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.enfer2 img{
    width: 22.15%;
    height: 76.65%;
}
.enfer1{
    position: absolute;
    top: 312.5%;
    left: 53%;
    z-index: 2;
}
.down_image_back{
    height: 36.25%;
    width: 100%;
    margin-top: 14.5%;
}
.down_image_back img{
    background-color: #01061a;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.363);
}
.crap_toogle{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 455%;
    z-index: 4;
    width: 55%;
    height: 45%;
    left: 22.5%;
}
.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}
.subtitle p{
    font-family: 'Poppins', sans-serif;
    font-size: 2.85vh;
    color: #ffffff;
}
.image_toogle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75%;
}
.un{
    width: 30.68%;
    height: 36.71%;
}
.do{
    width: 7.429%;
    height: 43.24%;
    margin-right: 5.25%;
}
.tre{
    height: 40.92%;
    width: 23.82%;
}
.but{
    background-color: #59BEC9;
}
.but a{
    color: #ffffff;
}
.pic_site_container{
    margin-left: 5.89%;
    margin-top: 3.5%;
    height: 100%;
    width: 60%;
}
.pic_site_container div{
    height: 100%;
    width: 100%;
}
.pic_site_container div img{   
    height: 94.72%;
    width: 90.3111%;
}
#date{
    display: flex;
    height: 11px;
    width: 10.57;
    flex-direction: row;
    align-items: center;
}
#date h6{
    color: #999999;
    font-size: 2.25vh;
}
#date img{
    margin-right: 2%;
    height: 100%;
    width: 3%;
}
.hamburger{
    position: hidden;
}
.contact_page{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.contact_content_page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.contact_content{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 50%;
    height: 100%;
}
.contact_title{
    width: 100%;
    height: 12.5%;
}
#contact_pots{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-top: 22px;
}
.contact_name_mail_inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
}
.seter_images{
    width: 100%;
    height: 10%;
}
.contact_text_area{
    height: 195.4px;
    width: 98.25%;
    border: 1.5px solid rgba(0, 0, 0, 0.138);
}
.contact_text_area textarea{
    height: 195.4px;
    width: 589.6px;
    border: 1.5px solid rgba(0, 0, 0, 0.138);
    resize: none;  
    outline: none;
}
.boton_enviar{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.boton{
    height: 79.131%;
    width: 31.2989%;
    border: solid #59BEC9 2px;
    background-color: #59BEC9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15.5689px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.215);
}
.boton a{
    height: 55px;
    width: 186px;
    max-width: 100%;
    max-width: 100%;
    border: solid #59BEC9 2px;
    background-color: #59BEC9;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
}
.content_map{
    height: 80%;
    width: 87%;
    margin-top: 11%;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.18);
}
.content_map iframe{
    width: 100%;
    max-height: 100%;
}
#input{
    height: 43.5px;
    width: 284.01px;
    margin-right: 7.5px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 18%);
    border: 1.5px solid rgba(0, 0, 0, 0.138);
    outline: none;
}
#pots{
    margin-right: 234px;
}
.seter_images div img{
    height: 20px;
    width: 70px;
}
.footer_content_page{
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
    margin-top: 9%;
}
.footer_background{
    height: 68%;
    width: 100%;
    margin-top: 0px;
    position: absolute;
    background-color: rgb(6, 3, 26);
}
.footer_background img{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.971;
}
.footer_info_content{
    height: 100%;
    width: 87.7%;
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-top: 2.3%;
}
.footer_info_group{
    height: 75%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.footer_logo{
    margin-bottom: 5%;
    width: 100%;
    height: 20%;
}
.footer_logo img{
    height: 85%;
    width: 50%;
}
.footer_logo_description p{
    color: #ffffff;
    font-size: 2.35vh;
}
.footer_nosotros{
    width: 10.0587%;
    height: 92.2323%;
    margin-top: 4%;
}
.footer_servicios{
    width: 7.9455%;
    height: 41.2377%;
    margin-top: 4%;
}
.footer_contactos{
    width: 17.5748%;
    height: 91.2377%;
    margin-top: 4%;
}
.footer_separator{
    border-top: 1.9489px solid #ffffff;
    height: 1.5%;
    width: 87.7%;
    margin-top: 5%;
    margin-left: 6%;
    z-index: 5;
}
.footer_contact{
    width: 87.7%;
    height: 100%;
    margin-left: 6%;
    justify-content: space-between;
    margin-top: 1%;
    display: flex;
    z-index: 5;
    margin-right: 85px;
}
.footer_type_info,
.footer_sotial_media,
.footer_ft,
.footer_sd,
.footer_tr{
    display: flex;
}
.footer_type_info div p,
.footer_ubication_text p{
    color: #ffffff;
}
.footer_sotial_media{
    align-items: center;
    justify-content: space-between;
    width: 130px;
}
.footer_ubication_text p{
   margin: 0 0 18px 0; 
}
.footer_ubication_text,
.footer_phone,
.footer_mail_text{
    margin-left: 17.5px;
}
.footer_ft,
.footer_sd,
.footer_tr{
    margin: 8.76px 0 8.76px 0;
}
.footer_contactos_info{
    margin-top: 30px;
    margin-left: 3px;
}
.footer_ubication_text p{
    font-size: small;
}
#nosotroS,
#servicioS{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.footer_iconos_listaS,
.footer_iconos_listaN{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 7px;
}
.footer_iconos_listaN{
    height: 132px;
}
.footer_iconos_listaS{
    height: 41px;
}
.footer_type_info{
    width: 312.55px;
    justify-content: space-between;
}
.footer_info_content{
    z-index: 5;
}
.footer_background,
.footer_background img{
    z-index: 4;
}
.footer_img img{
    cursor: pointer;
}
#bockparts{
    margin-bottom: 25%;
    height: 100%;
    width: 100%;
}
#campanas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title_bookpart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
.title_bookpart h1{
    color: #59BEC9;
    font-size: 5.5vh;
}
.carrousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    margin-top: 80px;
}
.carrousel div{
    margin: 0 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#reverse, #continue{ height: 100%; width: 1.12%;}
#reverse img, #continue img{ height: 3.21%; width: 100%; }
.set_carrousel{
    height: 100%;
    width: 72.94%;
}
.carousel_uno, .carousel_tres{ height: 38.0060%; width: 27.541%;}
.carousel_dos{ height: 54.867%; width: 38.822%; }
#blog{ margin: 0 0 5% 9.45135%; }
#news{ width: 90.398%; height: 100%; display: flex; flex-direction: column; }
.title_page_news{
    width: 100%;
    height: 9.3886%;
}
.title_page_news img{
    width: 19.4235%;
    height: 93.5483%;
}
.containt_page_news{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 68.7655%;
    margin-top:3.5%;
}
.containt_topp_news{
    display: flex;
    justify-content: center;
    width: 28.8384%;
    height: 85%;
    background-color: #F9F9F9;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 18%);
}
.top_news{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 85%;
    height: 100%;
}
.top_news div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 24.5%;
}
.top_news div h4{
    font-size: 2.5vh;
}
#site_name_news{
    margin-bottom: 1.5%;
}
.date_self{
    display: flex;
    height: 2.7065%;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.in_view_notice{
    height: 100%;
    width: 32%;
}
.in_view_notice img{
    width: 100%;
    height: 50.6839%;
    box-shadow: 0 1px 2px 2px rgb(0 0 0 / 18%);
}
.in_view_notice h3{
    font-size: 3vh;
}
.in_view_notice p{
    font-size: 2.57vh;
    color: #999999;
}
#leer_boton{
    width: 100%;
    height: 4.4286%;
}
#leer_boton a{
    font-size: 2.6vh;
    text-decoration: none;
    color: #59BEC9;
}
.bottn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 31.8458%;
    margin-top: 5.5%;
}
.botonn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185%;
    width: 16.7992%;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.138);
    border: 1px solid #59bec9;
    border-radius: 1.75%;
}
.botonn a{
    font-family: 'Poppins', sans-serif;
    color: #006478;
    font-size: 2.235vh;
    text-decoration: none;
}
.regresar,
.regresar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#ir_arriba{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.regresar{
    position: fixed;
    bottom: 21px;
    right: 21px;
    opacity: 0.58686858;
    cursor: pointer;
    transform: translateX(120px);
    transition: all 0.5s;
    z-index: 6;
    box-shadow: 1px 11px 32px 0 rgba(0, 0, 0, 0.31);
}
.visible{
    opacity: 1;
    transform: translateX(0);
}
.back_to,
.back_to img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
#whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.back_to{
    position: fixed;
    bottom: 71px;
    right: 18px;
    opacity: 0.58686858;
    cursor: pointer;
    transform: translateX(120px);
    transition: all 0.5s;
    z-index: 6;
    box-shadow: 1px 11px 32px 0 rgba(0, 0, 0, 0.31);
}
.to_visible{
    opacity: 1;
    transform: translateX(0);
}

@media (min-width: 720px){
    .menu,
    .menu div,
    .menu div li,
    .menu div li a,
    .toggle{
        width: 0px;
        height: 0px;
        z-index: 0;
    }
    .menu li{
        width: 0;
        height: 0;        
        list-style: none;
    }
    .toggle{ 
        width: 0;
        height: 0;
    }
    .menu{
        height: 0;
        width: 0;
        z-index: 0;
    }
    .menu li a{
        width: 0;
        height: 0;
    }
    .menu li::marker{
        width: 0;
        height: 0;
        margin: 0;        
        list-style: none;
    }
    li.youtube::marker
    li.facebook::marker,
    li.instagram::marker,
    li.linkedin::marker,
    li.telefono::marker,
    li.youtube::marker
    {
        width: 0;
        height: 0;
    }
    ion-icon{ font-size: 0; }
}