@media only screen and (max-width: 720px){
    /*Header*/
    body{
        margin: 0;
        background-color: #fffffa;
        display: grid;
        max-width: 100%;
    }
    #start{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 100%;
        width: 100%;
        margin-bottom: 200px;
        border-bottom: 3px solid #006478;
        top: 250px;  
    }
    .consultorio{
        top: 5%;
        position: absolute;
        width: 100%;
        max-height: 840px;
        margin: 0 0 0 0;
    }
    .consultorio img{
        position: absolute;
        width: 100%;
        clip-path: circle( 30% at 50% 50% );
    }
    .header{
        display: grid;
        top:0;
        width: 100%;
        margin: 0;
        position: fixed;
        height: 250px;
        grid-template-columns: 2fr 0 0 1fr;
        background-color: #ffffff;
    }
    .tille{ position: relative; }
    .text_site_container{
        margin: 0;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;
        width: 100%;
        height: 700px;
        background-color: #faffff;
        box-shadow: 0 9px 12px 12px rgba(0, 0, 0, 0.300);
        border: 1.5px solid #000009;
    }
    .text_site_container div h1{
        color: #006478;
        position: absolute;
        top: 50%;
        left: 10%;
        height: 90%;
        width: 90%;
        font-size: 400%;
    }
    .info_site{ display: flex; justify-content: center; align-items:flex-start; margin : 0; }
    .text_site_container div p{
        position: absolute;
        top: 65%;
        left: 10%;
        font-size: 335%;
        margin: 0;
        color: #000000;
        font-weight: bold;
        height: 100%;
        width: 70%;
    }
    .text_site_container div button{
        position: absolute;
        top: 67.5%;
        margin: 0;
        border: 1px solid #000000;
        border-radius: 35%;
        box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        width: 90%;
        height: 22.5%;
        right: 50%;
    }
    .text_site_container div button a{ color: #006478; font-size: 315%; }
    .clop_content, .info_site, .title{ height: 100%; }
    .clop_content{ display: flex; justify-content: flex-end; align-items: center; position: relative; width: 100%; }
    .contact_container,
    .sotial_container,
    .pages_container,
    .sotial_media_content, .fb, .ig, .yt, .lnl, .pn,    
    .chatear,
    .chatear img{ z-index: 0; position: relative; width: 0;height: 0; }
    .logo_class{ z-index: 1; }
    .logo_class{ height: 250px; display: flex; justify-content: center; align-items: center; }
    .logo_class img{ height: 55.5%; width: 67.5%; }
    .hamburger{
        height: 250px;
        z-index: 1;
        position: relative;
        display: block;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar{
        content: '';
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 15px;
        background-color: #43bcca;
        margin: 46px 22.5px 30px 122.5px;
        transition: 0.4s;
    }
    .hamburger::after{
        content: '';
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 15px;
        background-color: #43bcca;
        margin: 46px 22.5px 30px 122.5px;
        transition: 0.4s;
    }
    .hamburger::before{
        content: '';
        display: flex;
        flex-direction: column;
        width: 32.5%;
        height: 15px;
        background-color: #43bcca;
        margin: 46px 22.5px 30px 122.5px;
        transition: 0.4s;
    }
    .hamburger.is-active::before{
        transform: rotate(-45deg) translate(-80px, 6px);
        width: 35%;
        height: 8.5%;
        margin-left: 37.5%;
    }
    .hamburger.is-active::after{
        transform: rotate(405deg) translate(-80px, -17.5px);
        width: 35%;
        height: 8.5%;
        margin-left: 37.5%;
    }
    .hamburger.is-active .bar{
        transform: translateX(-120px);
        opacity: 0;
    }
    .mobile-nav {
        position: fixed;
        top: 10%;
        left: 100%;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 9;
        background-color: #ffffff;
        padding-top: 120px;
        transition: 0.4s;
    }
    .mobile-nav.is-active { left: 0; }
    .mobile-nav a {
        display: block;
        z-index: 98;
        top: 5%;
        width: 100%;
        height: 7.5%;
        max-width: 290px;
        margin: 0 auto 20px;
        text-align: center;
        padding: 12px 16px;
        background-color: #f7efef;
        color: #59bec9;
        text-decoration: none;
        font-size: 305%;
    }
    .mobile-nav a:hover { background-color: #f5f5f5; }
    .background_start{ position: absolute; top: 0; width: 110%; max-height: 100%; }
    .background_start img{ width: 110%; height: 100%; }
    .fb img, .ig img, .yt img, .lnk img, .pn img{ max-width: 0; max-height: 0; box-shadow: none; }
    .pages_container div a,
    .pages_container div,
    .desplazar{ z-index: 0; width: 0; height: 0; }
    .pages_container{ display: grid; grid-template-columns: repeat(0, 0fr); }
    .pages_container div a{ color: #ffffff; }
    .content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        max-height: 100%;
        top: 2.5%;
        left: 5%;
    }
    .pic_site_container{ margin: 0; right: 10%; }
    .pic_site_container div img{ position: relative; left: 35%; width: 120; height: 120%; }
    #ours{
        position: relative;
        width: 100%;
        height: 230%;
        margin-top:150px;
        left: 5%;
        border-top-right-radius: 5%;   
        border-bottom-right-radius: 12.5%;   
        border-bottom-left-radius: 5%;
        background-color: #faffff #fbffff #faffff;
    }
    .container{
        height: 100%;
        margin: 0;
        border-top-right-radius: 5%;   
        border-top-left-radius: 12.5%;   
        border-bottom-right-radius: 12.5%;   
        border-bottom-left-radius: 5%;
    }
    .page_name{ display: flex; align-items: center; right: 20%;height: 15%; width: 100%; }
    .page_name p{
        position: relative;
        left: 75%;
        margin: 0;
        color: #000009;
        font-family: 'Rubik', sans-serif;
        font-size: 50px;
    }
    .nosotros{
        background-color: #f7efef;
        border-top-left-radius: 15%;
        border-bottom-left-radius:50%;
        border: 1px solid #000009;
    }
    .content_in_site{
        position: relative;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        height: 110%;
    }
    .title{ position: absolute; left: 95%; height: 100%; width: 100%; margin: 0; }
    .title h1{ position: absolute; color: #006478; font-size: 510%; top: 50%; }
    .context_content{ margin: 0; position: relative; right: 45%; }
    .info{
        position: relative;
        top: 62.5%;
        height: 100%;
        width: 100%;
        left: 105%;
    }
    .info p{
        margin: 0;
        color: #000000;
        font-size: 300%;
        height: 45%;
        width: 150%;
    }
    .title_carousel{ position: absolute; top: 0; left: 100%; }
    .title_carousel p{ margin: 0; color: #006478;font-size: 350%; }
    .list_content{
        position: absolute;
        display: grid;
        top: 9%;
        height: 40%;
        width: 150%;
        left: 100%;
    }
    .fst_container, .snd_container, .trd_container, .frt_container{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 140%;
    }
    .doce, .trece, .catorce, .quince{
        width: 122px;
        height: 122px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trece img, .catorce img, .quince img{ width: 100%; height: 100%; }
    #text p{ font-size: 195%; color: #000000; }
    .buttonn{ position: absolute; top: 89%; height: 8%; width: 50%; left: 105%; }
    .buttonn button{
        background-color: #ffffff;
        border: 1px solid #000000;
        height: 110%;
        width: 100%;
        border-radius: 30%;
    }
    .buttonn button a{ color: #006478; font-size: 325%; }
    .regresar, 
    .regresar img { z-index: 0; position: absolute; height: 0; width: 0; }
    .fst_container div p,
    .snd_container div p,
    .trd_container div p,
    .frt_container div p{ color: #ffffff; }
    #services{
        position: static;
        margin-left: 5%;
        height: 3900px;
        width: 1265px;
        margin-top: 1300px;
        margin-bottom: 15px;
        z-index: 1;
    }
    .site_toogle{
        height: 3500px;
        width: 1265px;
        border: 1px solid #000000;
        background-color: #ffffff;
        margin: 0;
        box-shadow: 0 0 7.5px 8px #00000987;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        z-index: 2;
    }
    .site_name_toogle{
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20%;
        width: 100%;
        margin: 0;
    }
    .site_name_toogle p{
        position: static;
        margin: 0;
        font-size: 100px;
        color: #000009;
        font-weight: bolder;
        margin-right: 150px;
    }
    .title_name_toogle{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1280px 0 0 0;
        width: 1200px;
        height: 100%;
    }
    .title_name_toogle h1{ font-size: 90px; }
    .content_site_toogle{ position: static; width: 100%; height: 110%; }
    .down_image_back{ position: relative; width: 100%; height: 55%; z-index: 2; }
    .down_image_back img{ height: 100%; width: 100%; }
    .text_site_toogle{ height: 1500px; width: 100%; }
    .text_container_toogle{
        height: 1500px;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .head_buttons{
        position: static;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        width: 100%;
        height: 135px;
    }
    .head_buttons div{ height: 135px; width: 30%; margin: 0; border-radius: 15%; }
    .head_buttons div a{ font-size: 50px; }
    .problematica{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    .text_container_toogle div p{ margin: 0 0 0 500px; font-size: 57.5px; color: #000009; }
    .text_toogle{
        height: 700px;
        position: relative;
        left: 5%;
        margin: 145px 0 0 0;
    }
    .text_toogle ul{ position: relative; }
    .text_container_toogle div ul{ height: 524px; width: 70%; }
    .text_toogle ul li{
        position: relative;
        height: 100%;
        font-size: 240%;
    }
    .boton_ver_mas{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 35%;
        margin-left: 32.5%;
        border: 1px solid #000009;
        border-radius: 30%;
    }
    .boton_ver_mas a{
        height: 100%;
        width: 100%;
        font-size: 55px;
        color: #006478;
    }
    .separator{ position: static; height: 1%; width: 100%; margin: 45px 0 0 0; color: #006478; }
    .enfer2,
    .enfer2 img{ width: 0; height: 0; }
    .enfer1{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 596px;
        height: 825px;
        margin-top: 325px;
        margin-left: 100px;
        z-index: 1;
    }
    .enfer1 img{
        position: relative;
        margin: 0;
        border-top-left-radius: 20%;
        z-index: 2;
        height: 787.09px;
        width: 558.15px;
    }
    #toogle{ margin: 0; }
    .bar_toogle{
        position: absolute;
        top:inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 1150px;
        height: 950px;
        margin: 2415px 0 0 55px;
        border: 1px solid #000008ad;
        border-bottom-right-radius: 12.5%;
        border-bottom-left-radius: 12.5%;
        background-color: #f3f3f3e9;
        z-index: 12;
    }    
    .fst_toogle { grid-area: 1 / 1 / 2 / 2; }
    .sndd_toogle { grid-area: 1 / 2 / 2 / 3; }
    .trdd_toogle.div3 { grid-area: 2 / 1 / 3 / 2; }
    .end_toogle { grid-area: 2 / 2 / 3 / 3; }
    #toogle{ display: flex; flex-direction: column; z-index: 12; }
    #image {display: flex; justify-content: center; align-items: center; }
    .certain_numer{ display: flex; justify-content: center; align-items: center; } 
    #image img{ height: 151.675px; width: 144.8px; }
    #toogle div h1{ font-size: 65px; }
    #toogle div p{ font-size: 39.5px; }
    .crap_toogle{
        margin: 2000px 0 0 0;
        position: relative;
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 6;
    }
    .subtitle{ position: static; width: 100%; height: 25%; z-index: 6; }
    .crap_toogle div p{
        position: static;
        margin: 15px 0 0 0;
        font-size: 65px;
        color: #ffffff;
        z-index: 6;
    }
    .image_toogle{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 25%;
        z-index: 6;
    }
    .image_toogle img{ margin: 0; z-index: 6; }
    .un{ width: 35%; height: 60%; }
    .do{ width: 18%; height: 85%; }
    .tre{ width: 27.5%; height: 65%; }
    .down_image_back,
    .down_image_back img{ border-bottom-left-radius: 10%; border-bottom-right-radius: 10%; }
    .content_site_toogle,
    .down_image_back,
    .down_image_back img{ margin: 0; }
    #bockparts{ margin: 15px 0 15px 0;}
    #bockparts{
        position: static;
        width: 1265px;
        height: 1150px;
        margin: 650px 0 0 5%;
        background-color: #ffffff;
    }
    #campanas{
        background-color: #ffffff;
        margin: 0;
        height: 1150px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .title_bookpart{ width: 100; height: 25%; }
    #campanas div h1{ position: static; font-size: 150px; margin: 0; }
    .carrousel{ width: 100%; height: 75%; margin: 0; }
    #continue, #reverse{ border: 1px solid #000000; border-radius: 50%; height: 8.5%; width: 130%; box-shadow: 0 1px 4px 4px #2e2e2e58; }
    #blog{
        position: static;
        display: grid;
        width: 1265px;
        height: 3890px;
        margin: 60px 0 0 5%;
        border: 1px solid #000009; 
        background-color: #ffffff;
    }
    .news{ height: 100%; margin: 0 35px 0 35px; }
    .title_page_news{ display: flex; justify-content: center; align-items: center; height: 300px; }
    .title_page_news img{ height: 200px; margin-left: 50px; }
    .containt_page_news{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 3300px;
        margin: 0;
    }
    .containt_topp_news{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 735px;
        width: 1070px;
        margin-left: 63px;
        margin-bottom: 25px;
    }
    #notice{ max-width: 100%; max-height: 100%; }
    #e_notice{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 700px;
        width: 1050px;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
    .top_new_self1{ grid-area: 1 / 1 / 2 / 2; }
    .top_new_self2{ grid-area: 1 / 2 / 2 / 3; }
    .top_new_self3{ grid-area: 2 / 1 / 3 / 2; }
    .top_new_self4{ grid-area: 2 / 2 / 3 / 3; }
    .self_top_news{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
    .self_top_news h4{ margin: 0 15px 0 15px; font-size: 45px; }
    #date{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 100px;
    }
    .date_self img{ height: 52px; width: 52px; }
    .date_self h6{ margin-left: 10px; font-size: 37.5px; }
    .pic_notice{ width: 1057px; height: 625px; margin: 15px 0 7.5px 67.5px; }
    #notice h3{ width: 1080px; font-size: 65px; margin-left: 75px; margin-bottom: 25px; }
    .date_notice img { height: 52px; width: 52px; }
    .date_notice h6{ font-size: 35px; margin-left: 30px; }
    #notice p{ font-size: 47.5px; width: 1115px; margin: 47.5px 0 47.5px 65px; }
    #leer_boton a{ font-size: 55px; margin-left: 67.5px; }
    .bottn{ height: 250px; margin-top: 0; width: 100%; }
    .botonn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #59bec9;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        border-radius: 3px;
        cursor: pointer;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgb(0 0 0 / 14%);
        display: flex;
        height: 125px;
        width: 303.5px;
        margin-top: 30px; 
    }
    .botonn a{ font-size: 42.5px; }
    #contacts{ position: static; margin-top: 75px; }
    .footer_content_page{ position: static; margin: 1000px 0 0 0; }
    .footer_nosotros_lista,
    .footer_nosotros_lista img,
    .footer_iconos_listaN,
    .footer_iconos_listaN img,    
    .footer_servicios_lista,
    .footer_servicios_lista img,
    .footer_iconos_listaS,
    .footer_iconos_listaS img,
    .footer_title_nosotros img,
    .footer_nosotros,
    .footer_servicios, 
    .footer_title_servicios,
    .footer_title_servicios img{
        height: 0;
        width: 0;
    }
    .footer_info_content{
        margin-top: 5%;
    }
    .footer_logo{
        height: 40%;
        width: 100%;
    }
    .footer_logo img{
        height: 90%;
    }
    .footer_logo_description{
        height: 60%;
        width: 100%;
    }
    .footer_logo_description p{
        font-size: 190%;
    }
    .footer_contactos{
        position: relative;
        left: 10%;
    }
    .footer_title_contactos img{
        height: 100%;
        width: 100%;
    }
    .footer_ubication,
    .footer_call,
    .footer_mail{
        position: relative;
        right: 20%;
    }
    .footer_ubication img{
        width: 490%;
        height: 40%;
    }
    .footer_ubication_text p{
        font-size: 135%;
    }
    .footer_call img{
        position: relative;
        width: 265%;
        height: 100%;
        top: 50%;
    }
    .footer_phone{
        position: relative;
        margin-top: 20%;
    }
    .footer_phone img{
        position: relative;
        width: 155%;
        height: 105%;
        top: 50%;
    }
    .footer_mail img{
        position: relative;
        width: 260%;
        height: 80%;
        top: 75%;
    }
    .footer_mail_text{
        position: relative;
    }
    .footer_mail_text img{
        height: 50%;
        width: 150%;
        margin-top: 45%;
    }
    .footer_ubication_text{
        position: relative;
        left: 5%;
    }
    .footer_ubication_text img{
        width: 107%;
        height: 35%;
    }
    .footer_separator{
        position: relative;
        top: 15%;
    }
    .footer_contact{
        position: relative;
        top: 7.5%;
        margin-left: 5%;
        margin-top: 3%;
    }
    .footer_type_info{
        width: 60%;
    }
    .footer_type_info div p{
        font-size: 205%;
        color: #ffffff;
    }
    .footer_sotial_media{
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    .footer_img img{
        height: 225%;
        width: 225%;
    }    
    .back_to{
        position: fixed;
        bottom: 18px;
        right: 18px;
        opacity: 1;
        cursor: pointer;
        transform: translateX(0);
        transition: all 0.5s;
        z-index: 6;
        box-shadow: 1px 11px 32px 0 rgba(0, 0, 0, 0.31);
    }        
    .back_to,
    .back_to img{
        width: 224px;
        height: 220px;
        border-radius: 50%;
    }
    .to_visible{
        opacity: 1;
        transform:unset;
    }
    #whatsapp {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_background{
        height: 708.5px;
    }
    .footer_background img{
        height: 708.5px;
    }
    .menu{
        position: fixed;
        left: 10px;
        bottom: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 8;

    }
    * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .toggle{
        position: absolute;
        width: 200px;
        height: 200px;
        background: #2e929d;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 3px 6.5px rgba(0, 0, 0, 0.583);
        font-size: 2em;
        transition: 1.25s;
        color: #ffffff;
    }
    .toggle::shadow{
        color: none;
    }
    .menu li{
        position: absolute;
        list-style: none;
        transform-origin: 100px;
        bottom: 0;
        left: 3px;
        transition: 0.5s;
        transition-delay: calc(0.01s*var(--i));
        transform:  translateY(210px);
    }
    .menu.active li{
        transform: translateY(calc(-1350px / 6 * var(--i)));
    }
    .menu li a{
        width: 185px;
        height: 185px;
        background: #43bcca;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #ffffff;
        box-shadow: 0 3px 5.5px rgba(0, 0, 0, 0.583);
        transition: 0.5s;
    }
    .menu.active .toggle{
        transform: rotate(135deg);
    }
    ion-icon{
        font-size: 6.125em;
    }
}